body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  position: relative;
}

.container {
  max-width: 1200px;
  padding: 5px 20px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  border-radius: 4px;
  background-color: #027bfe;
  padding: 8px 12px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: #0266d2;
}

p {
  color: #868e96;
  display: inline-block;
  margin-top: -10px;
  line-height: 1.5;
}

/* Header styles */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-title {
  font-weight: 400;
}

/* Hero section styles */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 51px;
  padding: 100px 0;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
  z-index: 1;
}

.hero .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.hero .content {
  position: relative;
  z-index: 1;
}

.hero .content h1 {
  color: #fff;
  font-size: 42px;
  text-align: center;
  max-width: 800px;
}
.email-box {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
  margin-bottom: 51px;
}
.email-box input {
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding: 15px;
  width: 450px;
  color: #868e96;
}

.email-box .button {
  padding: 14px 35px;
}

/* Icons Grid section styles */

.icons-grid {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #f8f9fa;
  gap: 100px;
  width: 100%;
  height: 100%;
}

.icons-grid-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 260px;
  width: 100%;
  margin: 120px 0 110px 0;
}

.icons-grid-box svg {
  width: 75px;
  height: 75px;
}

/* Text Image Grid section styles */

.text-image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
}
.text-image-grid img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.box-text {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
  align-content: center;
  max-width: 495px;
  font-size: 18px;
}

/* Testimonials section styles */
.testimonials {
  background-color: #f8f9fa;
}
.testimonials h2 {
  text-align: center;
  margin: 0 auto;
  padding-top: 150px;
  margin-bottom: 50px;
  font-size: 40px;
}
.testimonials-flex {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 100px;
  width: 100%;
  height: 100%;
}

.testimonials-flex div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 310px;
  width: 100%;
  margin-bottom: 140px;
}
.testimonials-flex img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* Hero small styles */
.small {
  margin-top: 0;
}

.small h2 {
  font-size: 33px;
  color: #fff;
  text-align: center;
  max-width: 800px;
  width: 100%;
}

/* Footer styles */
footer {
  background-color: #f8f9fa;
}

.footer-container {
  max-width: 1200px;
  padding: 5px 20px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-box {
  line-height: 1.9;
}

.footer-box span {
  color: #868e96;
}

.befor::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 2px;
  background-color: black;
  border-radius: 50%;
  z-index: 10;
}
.footer-navigation a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #027bfe;
  font-size: 19px;
  margin-right: 30px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.footer-navigation a:hover {
  color: #0266d2;
}

.brand-icons svg {
  width: 50px;
  height: 50px;
  margin: 100px 0 100px 0;
  margin-right: 30px;
}

.brand-icons svg:first-child {
  width: 70px;
  height: 70px;
}

/* Media-queries */

@media (max-width: 700px) {
  .hero {
    padding: 50px 0;
  }
  .content h1 {
    padding: 0 10px 0 10px;
  }

  .icons-grid {
    flex-direction: column;
    gap: 20px;
    padding: 80px 0 80px 0;
  }
  .icons-grid-box {
    margin: 20px 0 20px 0;
  }

  .text-image-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .text-image-grid img {
    flex: 1;
  }

  .box-text {
    display: flex;
    justify-content: center;
    text-align: left;
    flex: 1;
    margin: 10px 65px 10px 65px;
  }

  .box-text-1 {
    order: 1;
  }

  .text-image-grid-box-2 {
    order: 2;
  }

  .box-text-2 {
    order: 3;
  }

  .text-image-grid-box-3 {
    order: 4;
  }

  .box-text-3 {
    order: 5;
  }
}

@media (max-width: 800px) {
  .testimonials {
    padding-bottom: 50px;
  }
  .testimonials-flex {
    display: flex;
    flex-direction: column;
    gap: 0px;
    height: 100%;
  }

  .testimonials-flex div {
    margin-bottom: 20px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .footer-box {
    padding-top: 50px;
  }

  .brand-icons svg {
    margin: 20px 0 50px 0;
  }
}

@media (max-width: 650px) {
  .content {
    display: inline-block;
    width: 100%;
  }
  .content div {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .email-box form,
  .email-box nav {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 10px 0 10px;
  }
  .email-box input,
  .email-box .button {
    width: 650px;
  }
  .email-box input {
    max-width: 90%;
    font-size: 25px;
  }
  .email-box .button {
    max-width: 80%;
    text-align: center;
    font-size: 25px;
  }

  .brand-icons svg:first-child {
    width: 60px;
    height: 60px;
  }
}
